{% extends "base.html" %}
{% block body %}
    <div class="body">
        <h1>Create an Account</h1>

        <form action="/register" method="POST">
            <select name="role" class="role" required>
                <option value="" disabled selected>Role</option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
            <input type="text" name="username" placeholder="Username" class="input_field" required>
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}