{% extends "base.html" %}
{% block body %}
    <div class="body">
        <h1>Login</h1>

        <form action="/register">
            <input type="first" name="first" placeholder="First Name" class="input_field" required>
            <input type="last" name="last" placeholder="Last Name" class="input_field" required>
            <input type="email" name="email" placeholder="Email" class="input_field" required>
            <input type="password" name="password" placeholder="Password" class="input_field" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" class="input_field" required>
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}