{% extends "base.html" %}
{% block body %}
    {% set prev_page = page - 1 %}  <!-- variables in jinja --->
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="flex-box">
            {% if responses %}
                {% for test in tests %}
                    <div class="test">
                        <ul>
                            <li>Tests id: {{ test.test_id }}</li>
                            <ul>
                                <li>Creator: {{ test.creator_id }}</li>
                                <li>Title: {{ test.title }}</li>
                            </ul>
                        </ul>
                        <div class="test-actions">
                            <a href="/take_test/{{ test['test_id'] }}" class="test-action-btn">Take</a>
                            <a href="/edit_test/{{ test['test_id'] }}" class="test-action-btn">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            {% if tests | length < 1 %}
                <h1>No data available</h1>
            {% endif %}
        </div>

        <div class="pagination_bar">
            <a href= "{{ "/accounts/"+ (page - 1) | string }}" class="pagination_button"> < </a>
            <a class="pagination_button" style="background-color: black"> {{page}} </a>
            <a href="{{ "/accounts/"+ (page + 1) | string }}" class="pagination_button" > {{ page + 1 }} </a>
            <a href="{{ "/accounts/"+ (page + 2) | string }}" class="pagination_button"> {{ page + 2 }} </a>
            <a href="{{ "/accounts/"+ (page + 1) | string }}" class="pagination_button"> > </a>

        </div>
    </div>


{% endblock %}